*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #222222;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: #FAFAFA;
    text-decoration: none;
}